
* text=auto

# GitHub
.gitattributes  text
.gitignore      text

# CMake File
CMakeLists.txt  text

# Build scripts
build.sh        text
build.bat       text

# Source files
*.c             text
*.h             text

# Other I/O files
*.txt           text

